@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #23395b;
  color: #f1f1f1;
}

.fontawesome {
  font-size: 25px;
}

.headerFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.headerItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
}

.regionLink {
  color: #f1f1f1;
}

/* Country Header Component */

.countryHeader {
  height: 50vh;
  color: #fff;
  background-image: url('./image/globe-flag.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.headerText {
  padding: 4rem 1rem;
  text-align: center;
  opacity: 10;
}

.headerTextWrap {
  width: 100%;
  height: 100%;
  background-color: #225f8b;
  opacity: 0.5;
}

.bigHeading {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

/* SelectCountry component */

.coloredCard {
  padding: 0.5rem;
  background-color: #406e8e;
}

.plainCard {
  padding: 0.5rem;
  background-color: #23395b;
}

.mainGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.selectCountry {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  row-gap: 6rem;
}

.countryMap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map {
  font-size: 100px;
  color: #225f8b;
}

.appWrap {
  padding-bottom: 5rem;
}

/* CountryDetails component */

.eachCountry {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  padding-right: 1rem;
  height: 50vh;
}

.eachCountryGrid {
  display: grid;
  grid-template-columns: 1fr;
}

.eachCountryCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  text-align: left;
  font-size: 15px;
  background-color: #23395b;
  box-shadow: 3px 3px 7px #333;
}

.eachCountryCard:nth-child(odd) {
  background-color: #406e8e;
}

.cases {
  display: flex;
  justify-content: flex-end;
  column-gap: 2rem;
  align-items: center;
}

.bgHeading {
  text-transform: uppercase;
  font-weight: bold;
}

.regions {
  background-color: #4e7997;
  padding: 1rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.regionSearch {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.countries {
  background-color: #406e8e;
  padding: 1rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

.countrySearch {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.searchBar {
  padding: 0 1rem;
  background-color: #f1f1f1;
  outline: none;
  border: 0;
  font-size: 15px;
}

.errorMsg {
  text-transform: uppercase;
  text-align: center;
  margin-top: 5rem;
  font-size: 15px;
}
