* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(11, 11, 228);
  color: #f1f1f1;
}

.fontawesome {
  font-size: 25px;
}

.appHeader {
  padding: 0.5rem 4rem;
}

.headerFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
}

.regionLink {
  color: #fff;
}

/* Country Header Component */

.countryHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: blue;
}

.imgCover {
  font-size: 200px;
  padding: 1rem;
}

.imgWrap {
  width: 100%;
  height: 100%;
  text-align: center;
}

.headerText {
  padding: 4rem 1rem;
  text-align: left;
}

.headerTextWrap {
  width: 100%;
  height: 100%;
  border-left: 2px solid blue;
}

.bigHeading {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

/* SelectCountry component */

.coloredCard {
  padding: 0.5rem;
  background-color: rgba(6, 6, 255, 0.658);
}

.plainCard {
  padding: 0.5rem;
  background-color: rgb(11, 11, 228);
}

.mainGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.selectCountry {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  row-gap: 6rem;
}

.appWrap {
  padding-bottom: 5rem;
}

/* CountryDetails component */

.eachCountry {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  padding-right: 1rem;
  height: 50vh;
  background-color: blue;
}

.eachCountryGrid {
  display: grid;
  grid-template-columns: 1fr;
}

.eachCountryCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
  text-align: center;
  background-color: rgb(11, 11, 228);
}

.eachCountryCard:nth-child(odd) {
  background-color: rgba(6, 6, 255, 0.658);
  padding: 3rem 0;
}

.cases {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bgHeading {
  text-transform: uppercase;
  font-weight: bold;
}

.regions {
  background-color: rgb(11, 11, 228);
  padding: 1rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.regionSearch {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.countries {
  background-color: rgba(6, 6, 255, 0.658);
  padding: 1rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.countrySearch {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.searchBar {
  padding: 0 1rem;
}

.errorMsg {
  text-transform: uppercase;
  text-align: center;
  margin-top: 5rem;
}
